.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 144px;
}

h2 {
  margin-block: 8px 56px;
  font: var(--title-md);
  color: var(--gray-600);
}

.div-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1040px;
  text-align: left;
}

figure {
  background-color: var(--gray-300);
  border-radius: 8px;
  width: 330px;
  height: 300px;
  margin-bottom: 20px;

  img {
    width: 306px;
    height: 156px;
    margin: 12px;
    border-radius: 8px;
  }

  a {
    font: var(--title-sm);
    color: var(--gray-600);
    margin: 12px;
    padding-left: 8px;
  }

  p {
    margin: 12px;
    padding-left: 8px;
  }

}